@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

.hidden {
    display: none;
}   

.body {
    background-color: hsl(0, 0%, 98%);
}

.header {
    margin: 3rem 3rem 3rem 3rem;
}

.menu-button {
    display: none;
}

.menu-close-button {
    display: none;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.navigation-left-section {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.navigation-options {
    display: flex;
    align-items: center;
    gap: 4rem;;
}

.nav-link {
    color: hsl(0, 0%, 41%);
    text-decoration: none;
    font-family: 'Epilogue', sans-serif;
    transition: 0.5s;
}

.nav-link:hover {
    color: hsl(0, 0%, 8%);
    transition: 0.5s;   
}

.nav-dropdown {
    color: hsl(0, 0%, 41%);
    font-family: 'Epilogue', sans-serif;
    transition: 0.5s;
    cursor: pointer;
}

.dropdown-features, .dropdown-company {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-features {
    position: absolute;
    top: 4.5rem;
    left: 8rem;
}

.dropdown-company {
    position: absolute;
    top: 4.5rem;
    left: 22.5rem;
}

.li-features, .li-company {
    display: flex;
    gap: 1rem;
    transition: 0.5s;
}

.li-features:hover, .li-company:hover {
    color: hsl(0, 0%, 8%);
    transition: 0.5s;
}

.features:hover, .company:hover {
    color: hsl(0, 0%, 8%);
    transition: 0.5s;
}

.dropdown-arrow {
    margin-left: 10px;
}

.login-options {
    font-family: 'Epilogue', sans-serif;
    display: flex;
    gap: 3rem;
}

.log-option {
    color: hsl(0, 0%, 41%);
    text-decoration: none;
    transition: 0.5s;
}

.log-option:hover {
    color: hsl(0, 0%, 8%);
    transition: 0.5s;
}

.register-button {
    border: hsl(0, 0%, 41%) 2px solid;
    padding: 15px 30px;
    border-radius: 15px;
    transition: 0.5s;
}

.register-button:hover {
    border-color:hsl(0, 0%, 8%);
    transition: 0.5s;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 10%;
    margin: 0 10rem 2rem 10rem;
}

.main-left-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 11rem;
}

.main-title {
    font-size: 7rem;
    font-weight: 700;
    color: hsl(0, 0%, 8%);
    min-width: 100%;
}

.main-phrase {
    font-size: 1.5rem;
    color: hsl(0, 0%, 41%);
    width: 80%;
    min-width: 80%;
    line-height: 2.5rem;
}

.button-learn-more {
    font-family: 'Epilogue', sans-serif;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 1.2rem 2rem;
    border-radius: 15px;
    width: 6.6rem;
    font-weight: 700;
    transition: 0.5s;
    border: 2px solid black;
}

.button-learn-more:hover {
    transition: 0.5s;
    background-color: white;
    color: black;

}

.all-sponsors {
    margin-top: 10%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.sponsor {
    width: 7rem
}

.main-right-section {
    width: 80rem;
    min-width: 40rem;
}

.img-main {
    width: 100%;
}

@media screen and (max-width: 1000px) {

    .navigation-left-section {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }

    .navigation-options {
        display: none;
    }

    .login-options {
        display: none;
    }

    .menu-button {
        display: inline;
        cursor: pointer;
    }

    .main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin: 0;
        gap: 0;
    }

    .main-left-section {
        width: 100%;
        margin-top: 5rem;
        align-items: center;
        gap: 2rem;
    }

    .main-right-section {
        width: 80%;
        min-width: none;
    }

    .main-title {
        font-size: 4rem;
        min-width: none;
        text-align: center;
    }

    .main-phrase {
        text-align: center;
        width: 90%;
        min-width: none;
    }

    .all-sponsors {
        justify-content: center;
        margin: 3rem 3rem 3rem 3rem;
        flex-wrap: wrap;
    }
}