@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

.hidden {
    display: none;
}   

.body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 98%);
}

.header {
    margin: 3rem 3rem 4rem 3rem;
}

.open-menu {
    display: none;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.navigation-ul {
    display: flex;
}

.navigation-options {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-right: 68rem;
}

.nav-link {
    user-select: none;
    color: hsl(0, 0%, 41%);
    text-decoration: none;
    font-family: 'Epilogue', sans-serif;
    transition: 0.5s;
}

.nav-link:hover {
    color: hsl(0, 0%, 8%);
    transition: 0.5s;   
}

.nav-dropdown {
    color: hsl(0, 0%, 41%);
    font-family: 'Epilogue', sans-serif;
    transition: 0.5s;
    cursor: pointer;
}


.features {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    user-select: none;
}


.company {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    user-select: none;
}

.dropdown-features, .dropdown-company {
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-features {
    position: absolute;
    top: 4.5rem;
    left: 12rem;
}

.dropdown-company {
    position: absolute;
    top: 4.5rem;
    left: 24.5rem;
}

.li-features, .li-company {
    display: flex;
    gap: 1rem;
    transition: 0.5s;
}

.li-features:hover, .li-company:hover {
    color: hsl(0, 0%, 8%);
    transition: 0.5s;
}

.features:hover, .company:hover {
    color: hsl(0, 0%, 8%);
    transition: 0.5s;
}

#dropdown-arrow-features, #dropdown-arrow-company {
    margin-left: 10px;
}

.login-options {
    user-select: none;
    font-family: 'Epilogue', sans-serif;
    display: flex;
    gap: 3rem;
}

.log-option {
    color: hsl(0, 0%, 41%);
    text-decoration: none;
    transition: 0.5s;
}

.log-option:hover {
    color: hsl(0, 0%, 8%);
    transition: 0.5s;
}

.register-button {
    border: hsl(0, 0%, 41%) 2px solid;
    padding: 15px 30px;
    border-radius: 15px;
    transition: 0.5s;
}

.register-button:hover {
    border-color:hsl(0, 0%, 8%);
    transition: 0.5s;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 10%;
    margin: 0 10rem 2rem 10rem;
}

.main-left-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 11rem;
}

.main-title {
    font-size: 7rem;
    font-weight: 700;
    color: hsl(0, 0%, 8%);
    min-width: 100%;
}

.main-phrase {
    font-size: 1.5rem;
    color: hsl(0, 0%, 41%);
    width: 80%;
    min-width: 80%;
    line-height: 2.5rem;
}

.button-learn-more {
    font-family: 'Epilogue', sans-serif;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 1.2rem 2rem;
    border-radius: 15px;
    width: 6.6rem;
    font-weight: 700;
    transition: 0.5s;
    border: 2px solid black;
    user-select: none;
}

.button-learn-more:hover {
    transition: 0.5s;
    background-color: white;
    color: black;

}

.all-sponsors {
    user-select: none;
    margin-top: 10%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.sponsor {
    width: 7rem
}

.main-right-section {
    user-select: none;
    width: 80rem;
    min-width: 40rem;
}

.img-main {
    width: 100%;
}

@media screen and (max-width: 1000px) {

    .mobile-nav {
        display: flex;
        align-items: flex-start;
        gap: 38rem;
    }

    .open-menu {
        display: block;
    }

    .menu-mobile {
        display: none;
    }


    .li-features {
        box-sizing: border-box;
        align-items: center;
    }

    .features {
        display: flex;
        align-items: center;
    }

    .company {
        display: flex;
        align-items: center;
    }

    .menu-close-button {
        cursor: pointer;
        position: fixed;
        top: 5%;
        left: 85%;
        display: inline;
        z-index: 1;

    }

    .navigation-options {
        font-size: 25px;
        align-items: first baseline;
        gap: 2rem;
        flex-direction: column;
        position: fixed;
        left: 50%;
        top: 12%;
        z-index: 2;
    }

    .dropdown-features, .dropdown-company {
        position: static;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
        font-size: 20px;
        margin-left: 15px;
        margin-top: 30px;
        margin-bottom: 20px;
        padding: 0;
    }

    .login-options {
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: 55%;
        top: 85%;
        z-index: 1;
        font-size: 25px
    }

    .main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin: 0;
        gap: 0;
    }

    .main-left-section {
        width: 100%;
        margin-top: 5rem;
        align-items: center;
        gap: 2rem;
    }

    .main-right-section {
        width: 100%;
    }


    .main-title {
        font-size: 4rem;
        min-width: none;
        text-align: center;
    }

    .main-phrase {
        text-align: center;
        width: 90%;
        min-width: none;
    }

    .all-sponsors {
        justify-content: center;
        margin: 3rem 3rem 3rem 3rem;
        flex-wrap: wrap;
    }
}